<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Organización</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botones de Acción -->
  <div class="action-buttons">
    <ion-button expand="full" (click)="irACrearEvento()">Crear Evento</ion-button>
    <ion-button expand="full" (click)="irACrearTarea()">Crear Tarea</ion-button>
    <ion-button expand="full" (click)="irABuscarEventos()">Buscar Eventos</ion-button>
    <ion-button expand="full" (click)="irABuscarTareas()">Buscar Tareas</ion-button>
  </div>
</ion-content>
